body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f4f4f4;
    }
    
    .container {
      text-align: center;
      background-color: #fff;
      border-radius: 8px;
      padding: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 300px; /* Limiting maximum width */
      width: 100%;
      margin: auto; /* Centering the form horizontally */
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    button {
      width: calc(100% - 20px);
      padding: 8px;
      margin: 6px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    button {
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      background-color: #45a049;
    }
    
    label {
      display: inline-block;
      text-align: left;
      width: 100%;
      margin-bottom: 5px;
    }
    
    .error-message {
      color: red;
      margin-top: 5px;
      text-align: left;
    }
    